html {
  box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  body {
    min-width: 320px;
    font-family: "Muller", sans-serif;
    background: #E5E5E5;
  }

  @font-face {
    font-family: 'Muller';
    src: local('MullerRegular'), url('../fonts/MullerRegular.woff2') format("woff2"),
    url('../fonts/MullerRegular.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Muller';
    src: local('MullerMedium'), url('../fonts/MullerMedium.woff2') format("woff2"),
    url('../fonts/MullerMedium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Muller';
    src: local('MullerBold'), url('../fonts/MullerBold.woff2') format("woff2"),
    url('../fonts/MullerBold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  /* glob */

  .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .flex {
    display: flex;
  }

  .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .section-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 40px;
    padding-left: 40px;
    line-height: 40px;
    color: #333333;
  }
  .sections-descr {
    margin: 0;
    margin-bottom: 50px;
  }

  .section-offset {
    margin-bottom: 70px;
  }

  /* header */

  .header {
    padding-top: 30px;
    margin-bottom: 70px;
      }

  .header-botton {
    padding: 14px 45px;
    background: #FFFFFF;
    border-radius: 15px;
    justify-content: space-between;
  }


  .header-container {
    align-items: center;
    min-height: 50px;
    border-right: 1px solid  #E1E1E1;
    padding-right: 56px;
    margin-right: 56px;
  }

  .header-tel-link {
    margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
  }

  .header-tel-link:focus {
    outline-offset: 2px;
    outline: 1px solid #CC9933;
  }

  .header-tel-link:hover {
    color: #CC9933;
  }

  .header-tel-link:active {
    color: #A47312;
    /* outline: none; */
  }

  .lk {
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;

  }

  .lk svg {
    fill: #CC9933;
  }
  .lk:hover svg{
    fill: #F0BF5F;
  }

  .lk:focus {
    color:#CC9933;
    outline-offset: 2px;
    outline: 1px solid #CC9933;
  }

  .lk:focus svg{
    fill: #CC9933;
  }

  .lk:hover{
    color: #F0BF5F;
  }

  .lk:active {
    color: #A47312;
    /* outline: none; */
  }
  .lk:active svg{
    fill: #A47312;
    outline: none;
  }

  .header-logo {
    margin-right: 40px;
    border-radius: 15px;
  }

  .header-list-item:not(:last-child) {
    margin-right: 44px;
  }

  .header-rieght {
    align-items: center;
  }

  .tour {
    margin-right: 40px;
  }

  .header-top {
    margin-bottom: 27px;
    align-items: center;
  }

  .header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
  }

  .header-link:focus {
    outline-offset: 2px;
    outline: 1px solid #CC9933;
    color: #CC9933
  }

  .header-link:hover {
    color: #CC9933;
  }

  .header-link:active {
    color: #A47312;
    outline: none;
  }

  .btn {
    font-weight: 400;
    font-size: 16px;
    padding: 13px 20px;
    background: #fff;
    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #CC9933;
  }

  .header-btn:hover, .header-btn:focus{
    color: #FFFFFF;
    background: #CC9933;
  }

  .header-btn:active {
    background: #A47312;
    color: #FFFFFF;
    outline: none;
  }

  /* special-offers */

  .offers {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-bottom: 23px;
    padding: 40px 234px 40px 40px;
  }
  .offers:last-child{
    margin-bottom: 0px;
  }

  .hero-content {
    flex-direction: column;
    margin-right: 23px;
  }
  .super-offers {
    flex-direction: column;
    background-image: url(../img/Spec-sup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 211px 234px 40px 40px;
    border-radius: 15px;
  }

  .maldiv {
    background-image: url(../img/spec-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
  }

  .krit {
    background-image: url(../img/Spec-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
  }

  .special-offers-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    width: 300px;
  }

  .super-special-offers-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    width: 300px;
  }

  .special-offers-descr {
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
  }

  .super-special-offers-descr {
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
  }

  .special-offers-btn {
    width: 106px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFCC66;
    background-image: url("../img/ugolok.svg");
    background-position: right center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
      }


      /* abaut-us */

   .abaut-us-descr {
     margin: 0;
     font-weight: 400;
     font-size: 16px;
     line-height: 200%;
     color: #000000;
     max-width: 888px;
    }


  /* services   */

  h3 {
    margin: 0;
  }

  .services-item {
    padding: 190px 126px 50px 45px;
    width: 572px;
    display: inline-block;
    vertical-align: top;
    background-position: top;
    background-repeat: no-repeat;
    background: #FFFFFF;
    border-radius: 15px;
    margin-right: 23px;
    margin-bottom: 23px;
  }

  .exclusive {
    background-image: url("../img/services01.jpg");
    background-repeat: no-repeat;
  }

  .rent {
    background-image: url("../img/services02.jpg");
    background-repeat: no-repeat;
  }

  .sauna {
    background-image: url("../img/services03.jpg");
    background-repeat: no-repeat;
  }

  .parking-car {
    background-image: url("../img/services04.jpg");
    background-repeat: no-repeat;
  }

  .services-prewiev-descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
  }

  .services-item:nth-child(2n) {
    margin-right: 0px;
  }

  .services-item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }

  .services-list {
    flex-wrap: wrap;
  }

  .services-item-link {
    margin: 0;
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    background-image: url("../img/ugolok-ser.svg");
    background-position: right center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
  }

  .title-exclusive {
    width: 305px;
  }

  .title-rent {
    width: 260px;
  }

  .title-sauna {
    width: 375px;
  }

  .title-parking {
    width: 380px;
  }


  /* advantages */

  .advantages-list {
    flex-wrap: wrap;
  }

  .advantages-item {
    width: 275px;
    margin-bottom: 23px;
    padding: 116px 42px 41px 45px;
    background: #FFFFFF;
    border-radius: 15px;
    background-position: 20% 20%;
    background-size: 65px 65px;
    background-repeat: no-repeat;
  }

  .advantages-item-descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    width: 188px;
  }

  .bathtub {
    background-image: url("../img/adv-1.svg");
  }

  .hanger {
    background-image: url("../img/adv-2.svg");
  }

  .heating {
    background-image: url("../img/adv-3.svg");
  }

  .hotel-key {
    background-image: url("../img/adv-4.svg");
  }

  .parking {
    background-image: url("../img/adv-5.svg");
  }

  .reception {
    background-image: url("../img/adv-6.svg");
  }

  .security-box {
    background-image: url("../img/adv-7.svg");
  }

  .swimming-pool {
    background-image: url("../img/adv-8.svg");
  }

  .advantages-item:not(:nth-child(4n)) {
    margin-right: 23px;
  }

  .advantages-item:nth-last-child(-n+4) {
    margin-bottom: 0px;
}

  .advantages-item-icon {
   margin-top: 40px;
  }

  /* accommodation */

  .accommodation-list {
    flex-wrap: wrap;
  }

  .accommodation-item {
    align-items: center;
    flex-direction: row;
    width: 374px;
    margin-bottom: 23px;
    background: #FFFFFF;
    border-radius: 15px;
  }

  .acc-price-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
  }

  .acc-price-text-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;

  }

  .acc-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;

  }

  .acc-hotel {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
  }

  .acc-sity {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
  }

  .acc-numbers {
    padding: 13px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    border: 1px solid #CC9933;
    background: #FFFFFF;
    border-radius: 15px;
  }

  .accommodation-item:not(:nth-child(3n)) {
    margin-right: 23px;
  }

  .accommodation-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
  .accommedation-img {
    object-fit: cover;
  }

  .acc-rating {
    margin-left: auto;
  }

.acc-hotel-info {
  padding: 36px 46px 41px 45px;
}

  .acc-price-text,
  .acc-price {
    margin-right: 4px;
  }

  article {
    font-size: 0;
  }

  .acc-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #FFFFFF;
    text-align: center;
    background-image: url("../img/ugolok-acc.svg");
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 15px;
  }

  .accommodation-more {
    width: 374px;
    padding-bottom: 35px;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../img/accommodation-more.png");
    background-repeat: no-repeat;
    background-size: contain;
  }


  /* want-tour */

  .cont-want-tour {
    background: #E9E9E9;
    border-radius: 15px;
    padding: 38px 45px 71px 45px;
  }

  .form {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 30px 28px;
    justify-content: space-between;
    align-items: center;
  }
  .want-tour-title {
    padding-left: 0;
  }

  .field-want-tour {
    border: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    border-right: 1px solid #E1E1E1;
    padding-right: 20px;
  }

  .input-want-tour {
    border: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

  }

  .btn-want-tour {
    padding: 13px 30px;
  }

  .input-want-tour::-webkit-inner-spin-button,
  .input-want-tour::-webkit-outer-spin-button {
    opacity: 1;
  }

  .night {
    border-bottom: 1px solid #CCCCCC;
    width: 121px;
  }

  .osob {
    border-bottom: 1px solid #CCCCCC;
    width: 121px;
  }


  /* contacts */

  .contacts-address {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 44px 44px 46px 46px;
    justify-content: space-between;
  }

  .contacts-btn {
    padding: 27px 29px;
  }

  .contacts-items-caption {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  .contacts-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    max-width: 230px;
  }

  .contacts-items-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
  }

  .contacts-item-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
    width: 230px;
    flex-wrap: wrap;
  }

  .contacts-item {
    width: 375px;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 23px;
    justify-content: space-between;
  }

  .contacts-item:not(:first-child) {
    padding-top: 25px;
  }
  .contacts-item:last-child {
    margin-bottom: 45px;
  }

  .contacts-right {
    width: 653px;
    background-image: url(../img/contacts.jpg);
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
  }

  .contacts-item-right {
    flex-direction: column;
    width: 229px;
  }
  .contacts {
    margin-bottom: 40px;
  }

      /* footer */

.footer-container {
  background: #333333;
  border-radius: 15px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
  margin-bottom: 30px;
  background-image: url(../img/footer-logo.png);
  background-position: 730px bottom;
  background-repeat: no-repeat;
  justify-content: space-between;
}

.footer-text {
  font-family: 'Muller';
  font-style: normal;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}

.footer-left {
  align-items: flex-start;
  max-width: 302px;
  flex-basis: 48%;
}

.footer-right {
  max-width: 359px;
  align-items: flex-start;
  flex-basis: 48%;
  flex-direction: column;
}

.footer-logos {
  flex-basis: 4%;
}

.footer-contacts {
  font-family: 'Muller';
  font-style: normal;
  flex-direction: column;
  margin-bottom: 15px;
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  }

  .social-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .social-link-sova {
    background-image: url('../img/footer-sova.png');
  }

  .social-link-ok {
    background-image: url('../img/footer-ok.png');
  }

  .social-link-vk {
    background-image: url('../img/footer-vk.png');
  }

  .social {
    flex-direction: column;
  }
